@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  padding: 1rem 4rem;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.logo,
.navIcon {
  cursor: pointer;
}

.userProfileControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.95rem;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.userInfo p {
  color: #050d26;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 65px;
  right: 64px;
  background-color: #fff;
  color: #050d26;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #e1e3e6;
  border-radius: 6px;
  box-shadow: 0px 2px 0px 1px #888faa1a;
  padding: 8px 6px;
}

.dropdownMenu ul {
  list-style: none;
  margin: 0;
}

.dropdownMenu ul li {
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}

.dropdownMenu ul li a {
  text-decoration: none;
  color: #333;
}

.dropdownMenu ul li:hover {
  background-color: #f0f0f0;
}

/* stats */

main {
  padding: 1.5rem 4rem 0.5rem 4rem;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.stats {
  padding: 1rem;
  background: #f4f6fd;
  color: #1b1e6d;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5.5rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.stats div:first-of-type {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.stats div p:first-of-type {
  font-size: 2.25rem;
  font-weight: 300;
}

/* chartsContainer */

.chartsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1.5rem 0;
  width: 100%;
}

.graphContainer {
  grid-column: span 3;
  background: #f4f6fd;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.circularChart {
  grid-column: span 1;
  background: #f4f6fd;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .chartsContainer {
    grid-template-columns: 1fr;
  }

  .graphContainer,
  .circularChart {
    grid-column: span 1;
  }
}

.graphHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graphHeader p:first-of-type {
  font-size: 18px;
  font-weight: 500;
  color: #050d26;
}

.dateInputContainer {
  position: relative;
  width: 185px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #464f6029;
  border-radius: 5px;
}

.customDateHolder {
  color: #a1a9b8;
  border: none;
  padding: 8px 0 8px 8px;
  font-size: 14px;
  width: 150px;
  text-align: left;
  border-radius: 5px;
}

.graphOptions {
  padding: 0.25rem 0.25rem 0 0.25rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 0.75px solid #a1a9b8;
  color: #050d26;
  font-size: 14px;
  font-weight: 400;
}

.graphOptions p {
  color: #a1a9b8;
  cursor: pointer;
  padding: 12px 16px;
}

.graphOptions p.selected {
  border-bottom: 1px solid #1b1e6d;
  color: #050d26;
}

.graph {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 1rem 0;
}

.revenueGraph {
  display: block;
}

.lossGraph {
  display: none;
}

.productNamesForGraph {
  display: flex;
  gap: 1.5rem;
  padding: 0.45rem 0.25rem;
}

.productNamesForChart {
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.productNamesForGraph div,
.productNamesForChart div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.productNamesForGraph div div,
.productNamesForChart div div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.productNamesForGraph .productOne {
  background-color: #14cdc8;
}

.productNamesForGraph .productTwo {
  background-color: #1b1e6d;
}

.productNamesForChart .productOne {
  background: #1b1e6d;
}

.productNamesForChart .productTwo {
  background: #14cdc8;
}

.productNamesForChart .productThree {
  background: #f9d100;
}

.productNamesForChart .productFour {
  background: #ff6d6d;
}

.productNamesForGraph div p,
.productNamesForChart div p {
  font-size: 14px;
  font-weight: 400;
  color: #050d26;
}

.circularChart .graphHeader p {
  padding: 0.3rem 0;
}

.innerCircle {
  width: 135px;
  height: 135px;
  background-color: #fff;
  border-radius: 50%;
}

/* productsNav */

.productDetailsContainer {
  margin: 1.5rem 0;
  background: #f4f6fd;
  border-radius: 1rem;
}

.productNavbar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px #00000014;
}

.productNavbar p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #050d26;
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleBtns {
  display: flex;
}

.toggleBtns button {
  padding: 0.5rem;
  border: 1px solid #464f6029;
  border-radius: 2px;
  cursor: pointer;
}

.toggleBtns button.active {
  background: #1b1e6d;
  color: white;
}

.toggleBtns button:first-of-type {
  border-right: 1px solid #464f6029;
  /* background: #1b1e6d; */
}

.addRecordBtn {
  margin-left: 1.5rem;
  padding: 0.75rem;
  box-shadow: 0px 0.93px 1.86px 0px #0000000d;
  border-radius: 5.58px;
  border: none;
  background-color: #1b1e6d;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}

/* productsTable */

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.productsTable {
  width: 100%;
  border-collapse: collapse;
}

.productsTable td {
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  color: #050d26;
}

.productsTable th {
  font-size: 1rem;
  font-weight: 400;
  background-color: #1b1e6d;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  text-align: left;
}

.productsTable img {
  margin-left: 0.05rem;
  vertical-align: middle;
}

.productsTable button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.25rem;
  display: inline-flex;
  align-items: center;
}

.productsTable button img {
  margin-right: 0.25rem;
}

.productsTable td:last-child {
  display: flex;
}

.productsTable .vertical-line {
  height: 1.25rem;
  width: 1px;
  background-color: #a1a9b829;
  margin: 0 0.25rem;
}

.productsTable tbody tr {
  border-bottom: 1px solid #bdbdbd;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 3rem 0 1.5rem 0;
  color: #050d26;
}

.paginationBtn {
  padding: 0.45rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #464f6029;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #050d26;
  transition: color 0.3s, cursor 0.3s;
}

.paginationBtn:disabled {
  color: #a1a9b8;
  cursor: not-allowed;
}

#currentPage {
  padding: 0.45rem 0.75rem;
  background-color: #fff;
  border: 1px solid #464f6029;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #050d26;
}

/* Add Record Form */

.addRecordContainer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  transition: right 0.3s ease;
  box-sizing: border-box;
  background: #f4f6fd;
  border-radius: 20px 0 0 0;
  box-shadow: -2px 0px 8px 0px #1b1e6d26;
  overflow: hidden;
  z-index: 2000;
}

.addRecordContainer.active {
  right: 0; /* Slide into view */
}

.addRecordContainer .addRecordTitle {
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px 0 0 0;
  color: #050d26;
  font-weight: 500;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.addRecordContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem 1.5rem;
  overflow-y: auto;
  max-height: calc(100% - 3rem);
}

.addRecordContainer .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.addRecordContainer label {
  font-weight: 500;
  font-size: 1rem;
  color: #050d26;
}

.statusContainer,
.colorsContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 8px;
  flex-wrap: wrap;
}

.colorsContainer div {
  display: flex;
  gap: 0.5rem;
}

.addRecordContainer textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.idContainer {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0 8px;
}

.idContainer span {
  font-size: 14px;
  font-weight: 400;
  color: #1f2937;
}

.inputContainer .selectContainer {
  padding-right: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.selectContainer select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.qtyContainer {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 16px;
}

.qtyContainer span {
  border: 1px solid #464f6029;
  color: #1f2937;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer .priceContainer,
.inputContainer .amountContainer {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceContainer span,
.amountContainer span {
  padding: 0 8px;
  font-weight: 500;
  font-size: 14px;
  color: #a1a9b8;
  border-right: 1px solid #a1a9b829;
}

#priceInput,
#amountInput,
#qtyInput,
#idInput {
  border: none;
  margin-bottom: 0;
  background-color: #fff;
}

#qtyInput {
  text-align: center;
}

.colorsContainer div {
  display: flex;
  align-items: center;
}

.colorsContainer div div {
  width: 0.75rem;
  height: 0.75rem;
}

.colorsContainer div span {
  margin-left: -0.25rem;
}

.colorsContainer .red {
  background: #ff1717;
}
.addRecordContainer .yellow {
  background: #ffbe17;
}
.addRecordContainer .blue {
  background: #1782ff;
}
.addRecordContainer .white {
  background: #ffffff;
}
.addRecordContainer .black {
  background: #111111;
}

.addRecordContainer button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #007bff;
  cursor: pointer;
}

.addRecordContainer button[type="reset"] {
  background: #6c757d;
}

.errorMessage {
  font-size: 14px;
  font-weight: 400;
  color: rgb(240, 41, 41);
  margin-top: -16px;
}

.formControls {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.formControls button {
  width: 50%;
  box-shadow: 0px 0px 0px 1px #a1a9b829;
  font-size: 14px;
  font-weight: 500;
}

#cancelBtn {
  background-color: #ffffff;
  color: #a1a9b8;
}

#addBtn {
  background-color: #1c1f6d;
  color: #ffffff;
}

.backdropForDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: none;
}

.backdropForForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: none;
}

.deleteRecordContainer {
  width: 350px;
  border: 1px solid #e1e3e6;
  box-shadow: 0px 2px 0px 1px #888faa1a;
  background-color: #ffffff;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  display: none;
}

.deleteRecordContainer p:first-of-type {
  color: #050d26;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
}

.deleteRecordContainer p:nth-of-type(2) {
  font-weight: 400;
  font-size: 16px;
  padding: 0 1rem 1rem 1rem;
}

.deleteRecordContainer button {
  box-shadow: 0px 0px 0px 1px #a1a9b829;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cancelDeleteBtn {
  background-color: #ffffff;
  color: #a1a9b8;
}

#deleteBtn {
  background-color: #ef4343;
  color: #ffffff;
}

.deleteControls {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  border-top: 1px solid #ebeefa;
}

.productNameForTable {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}

/* Tooltip */

.tooltipContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 250px;
  background-color: #ffffff;
  color: #050d26;
  text-align: left;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  left: 22.5%;
  top: 103%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0px 4px 6px 0px #00000026;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
}

.tooltip p:first-of-type {
  padding: 0.15rem 0 0.5rem 0;
  font-size: 16px;
  font-weight: 500;
  color: #050d26;
}

.tooltip p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
  color: #050d26;
}

.productCard .tooltip {
  left: 63%;
  top: -10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}

.productCard .tooltip::after {
  left: -8px;
  transform: translateY(50%);
  border-color: #ffffff transparent transparent transparent;
}

/* cards view */

.productsCards {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  box-sizing: border-box;
}

.productCard {
  position: relative;
  width: 100%;
  min-width: 250px;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #0000000f;
  background-color: #fff;
  box-sizing: border-box;
}

.cardHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.cardHeader p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: #1b1e6d;
  font-size: 16px;
  font-weight: 500;
}

.cardHeader p span {
  margin-top: 4px;
}

.cardHeader div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardHeader div button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.25rem;
  display: inline-flex;
  align-items: center;
}

.infoRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.35rem 0;
}

.productData {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dataTitle {
  font-size: 14px;
  font-weight: 500;
  color: #a1a9b8;
}

.data {
  font-size: 14px;
  font-weight: 400;
  color: #050d26;
}
