@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  padding: 1rem 4rem;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  justify-content: space-between;
  align-items: center;
}

.userProfileControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.95rem;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.userInfo p {
  color: #050d26;
}

/* stats */

main {
  padding: 1.5rem 4rem 0.5rem 4rem;
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats {
  padding: 1rem;
  background: #f4f6fd;
  color: #1b1e6d;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5.5rem;
  border-radius: 1rem;
}

.stats div:first-of-type {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.stats div p:first-of-type {
  font-size: 2.25rem;
  font-weight: 300;
}

/* productsNav */

.productDetailsContainer {
  margin: 1.5rem 0;
  background: #f4f6fd;
  border-radius: 1rem;
}

.productNavbar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productNavbar p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #050d26;
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleBtns {
  display: flex;
}

.toggleBtns button {
  padding: 0.5rem;
  border: 1px solid #464f6029;
  border-radius: 2px;
  cursor: pointer;
}

.toggleBtns button:first-of-type {
  border-right: 1px solid #464f6029;
  background: #1b1e6d;
}

.addRecordBtn {
  margin-left: 1.5rem;
  padding: 0.75rem;
  box-shadow: 0px 0.93px 1.86px 0px #0000000d;
  border-radius: 5.58px;
  border: none;
  background-color: #1b1e6d;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}

/* productsTable */

.productsTable {
  width: 100%;
  border-collapse: collapse;
}

.productsTable td {
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  color: #050d26;
}

.productsTable th {
  font-size: 1rem;
  font-weight: 400;
  background-color: #1b1e6d;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  text-align: left;
}

.productsTable img {
  margin-left: 0.05rem;
  vertical-align: middle;
}

.productsTable button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.25rem;
  display: inline-flex;
  align-items: center;
}

.productsTable button img {
  margin-right: 0.25rem;
}

.productsTable td:last-child {
  display: flex;
}

.productsTable .vertical-line {
  height: 1.25rem;
  width: 1px;
  background-color: #a1a9b829;
  margin: 0 0.25rem;
}

.productsTable tbody tr {
  border-bottom: 1px solid #bdbdbd;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 3rem 0 1.5rem 0;
  color: #050d26;
}

.paginationBtn {
  padding: 0.45rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #464f6029;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #a1a9b8;
}

#currentPage {
  padding: 0.45rem 0.75rem;
  background-color: #fff;
  border: 1px solid #464f6029;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #050d26;
}

/* Add Record Form */

.addRecordContainer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  transition: right 0.3s ease;
  box-sizing: border-box;
  background: #f4f6fd;
  border-radius: 20px 0 0 0;
  box-shadow: -2px 0px 8px 0px #1b1e6d26;
  overflow-y: auto;
  z-index: 1000;
}

.addRecordContainer.active {
  right: 0; /* Slide into view */
}

.addRecordContainer .addRecordTitle {
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px 0 0 0;
  color: #050d26;
  font-weight: 500;
  font-size: 18px;
}

.addRecordContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 1.5rem;
}

.addRecordContainer .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.addRecordContainer label {
  font-weight: 500;
  font-size: 1rem;
  color: #050d26;
}

.statusContainer,
.colorsContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 8px;
  flex-wrap: wrap;
}

.colorsContainer div {
  display: flex;
  gap: 0.5rem;
}

.addRecordContainer select,
.addRecordContainer textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.colorsContainer div {
  display: flex;
  align-items: center;
}

.colorsContainer div div {
  width: 0.75rem;
  height: 0.75rem;
}

.colorsContainer div span {
  margin-left: -0.25rem;
}

.colorsContainer .red {
  background: #ff1717;
}
.addRecordContainer .yellow {
  background: #ffbe17;
}
.addRecordContainer .blue {
  background: #1782ff;
}
.addRecordContainer .white {
  background: #ffffff;
}
.addRecordContainer .black {
  background: #111111;
}

.addRecordContainer button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #007bff;
  cursor: pointer;
  margin-right: 10px;
}

.addRecordContainer button[type="reset"] {
  background: #6c757d;
}

.formControls {
  width: 100%;
  padding: 2rem 0 0 1rem;
  display: flex;
}

.formControls button {
  box-shadow: 0px 0px 0px 1px #a1a9b829;
  font-size: 14px;
  font-weight: 500;
}

#cancelBtn {
  background-color: #ffffff;
  color: #a1a9b8;
}

#addBtn {
  background-color: #1c1f6d;
  color: #ffffff;
}

.deleteRecordContainer {
  width: 350px;
  border: 1px solid #e1e3e6;
  box-shadow: 0px 2px 0px 1px #888faa1a;
  background-color: #ffffff;
  border-radius: 12px;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

.deleteRecordContainer.active {
  top: 8%;
}

.deleteRecordContainer p:first-of-type {
  color: #050d26;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
}

.deleteRecordContainer p:nth-of-type(2) {
  font-weight: 400;
  font-size: 16px;
  padding: 0 1rem 1rem 1rem;
}

.deleteRecordContainer button {
  box-shadow: 0px 0px 0px 1px #a1a9b829;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cancelDeleteBtn {
  background-color: #ffffff;
  color: #a1a9b8;
}

#deleteBtn {
  background-color: #ef4343;
  color: #ffffff;
}

.deleteControls {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  border-top: 1px solid #ebeefa;
}
